<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
<!--    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeProductive"
        tools:targetApi="33">

        <service
            android:name=".NoteWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />


        <receiver
            android:name=".NotesAppWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/notes_app_widget_info" />
        </receiver>


        <activity
            android:name=".Alarm.AlarmEditor"
            android:exported="false" />
        <activity
            android:name=".Alarm.AlarmList"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Alarm.AlarmNotification"
            android:exported="false" />
        <activity
            android:name=".Alarm.AlarmSetter"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <activity
            android:name=".SplashArt"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Analysis.AnalysisActivity"
            android:exported="false" />
        <activity
            android:name=".HomePage.HomeMenu"
            android:exported="false" />
        <activity
            android:name=".ExpensesTracker.ExpensesTrackerActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Sign_Up"
            android:exported="false" />
        <activity
            android:name=".Log_In"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ToDoListPage.TodoList"
            android:exported="false" />
        <activity
            android:name=".Timetable.TimetableActivity"
            android:exported="false" />

        <activity
            android:name=".NotesPage.NotesListActivity"
            android:exported="false" />
        <activity
            android:name=".NotesPage.NoteItemActivity"
            android:exported="false" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


<!--         <activity

            android:name=".Reminders.ReminderActivity"
            android:exported="true" />
        <activity
            android:name=".Reminders.ReminderMain"
            android:exported="true" />
        <activity
            android:name=".Reminders.AlarmReceiver"
            android:exported="false" />

        <activity android:name=".Reminders.EditReminderActivity" />

        <activity android:name=".Reminders.EditReminderActivity" /> -->

        

        <activity android:name=".Reminders.ReminderActivity" android:exported="true"/>
        <activity android:name=".Reminders.ReminderMain" android:exported="true"/>
        <activity android:name=".Reminders.AlarmReceiver" android:exported="false"/>
        <activity android:name=".Reminders.EditReminderActivity" android:exported="false"/>

        <activity android:name=".ChatRooms.ChatRoomsActivity" />
        <activity android:name=".ChatRooms.AddChatRoomActivity" />
        <activity android:name=".ChatRooms.ChatMain" />
      
        <receiver android:name=".Alarm.AlarmReceiver" />
    </application>

</manifest>